:root {
    /*defino la fuente general*/
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    /*definir variables!!!*/
    --tamanio: 25px;
    /*definir variables de colores */
    --texto-blanco: #ffffff;
    --texto-negro: black;
    --color-primario: #fc74fd;
    --color-primario2: #f9d2fb;
    --color-borde: #df73ff;
    --fondo-negro: #0a0a0a;
    --texto-gris-violeta: #a18594;
    --violeta: #8209a7;
    /*gris*/
    --gris: #808080;
}

* {
    /* modelo de caja */
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    /* se modificará mientras se complete las demás secciones  */
    width: 100%;
}

/* google font 1 nav-nombre */
.dancing-script-nav-name {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* google font 2 enlaces */
.cinzel-enlaces {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* google font 3 seccion 1, h1  */
.antonio-seccion1 {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* *********************************************************************************** */
/* INICIO BARRA DE NAVEGACIÓN */
/* las siguientes clases fueron incluidas en el código de bootstrap */
header {
    height: 80px;
    width: 100%;
    position: relative;
}

.nav-header {
    background-color: var(--color-primario);
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 20px var(--color-borde),
        /* difuminado interno */
        0px 0px 20px var(--color-borde);
    /* difuminado externo */
    position: fixed !important;
    /* mantiene la barra de menu, fija en la ventana */
    opacity: 1 !important;
    z-index: 999 !important;
/* z-index con un número alto para que se ubique por sobre los demás elementos */
}

.navbar-nav .enlaces {
    /* la clase navbar-nav ya venia con el código bootstrap */
    height: 30px;
    margin-top: 10px;
    text-decoration: none;
    /* quita la decoracion a los enlaces de la class enlaces*/
    color: var(--texto-blanco);
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 8px 10px 8px;
    /* espacio interno, se verá con el efecto hover */
}

li { 
    list-style-type: none;
    /* quita los puntos de las listas */
}


/* efecto hover (cuando se pasa el cursor por encima)*/
.enlaces:hover {
    /* efecto hover en todo lo que tenga class enlaces */
    background-color: var(--texto-negro);
    box-shadow: 1px 1px 1px 1px var(--fondo-negro);
    color: white;
    border-radius: -5px;
}

.container-fluid {
    /* esta clase venía en el código de bootstrap, por eso hay que obligar a que obedezca nuestro .css */
    margin-top: 5px !important;
    /* prioridad en el cumplimiento de órdenes */
    width: 100% !important;
    /* prioridad en el cumplimiento de órdenes */

}

.burguer-doble {
    /* extensión que aparece en el responsive de bootstrap */
    height: 100vh;
    width: 50%;
    margin-left: -20px !important;
    padding-left: 30px !important;
    background: var(--color-primario) !important;
    display: block;
    flex-direction: column;
    /* posiciona en un eje vertical a los hijos */
    justify-content: space-between;
    text-align: left;
    border: none !important;
}

.navbar-toggle {
    /* esta clase venía en el código de bootstrap, por eso hay que obligar a que obedezca nuestro .css */
    border: none !important;
    /* prioridad en el cumplimiento de órdenes */
    background-color: transparent !important;
    /* prioridad en el cumplimiento de órdenes */
}


/* FIN BARRA DE NAVEGACIÓN */
/* *********************************************************************************** */


/* *********************************************************************************** */
/* INICIO MAIN */
/* 5) section 1 | carrusel */

.seccion1-carrusel-texto {
    width: 70%;
    height: auto;
    background-color:  antiquewhite;
    font-weight: bold;
    /* negrita */
    margin: 10px 15%;
    overflow: hidden;
    /* oculta lo que se encuentre fuera del div */
    z-index: -2;
}

.carrusel-animacion-texto {
    padding-top: 7px;
    /* contenedor de los 8 <div class="carrusel-texto"> */
    display: flex;
    /* hace flexibles los elementos */
    animation: scroll 30s linear infinite;
    /* scroll=nombre del Keyframe, 40s= tarda la animación, linear infinite=se reproduce infinitamente */
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 8);
    /* 200px * 8 <div class="carrusel-texto"> */
    z-index: -2;
    /* para que tenga una ubicación por debajo de otros elementos */
}

.seccion1-carrusel-texto .carrusel-texto {
    width: 200px;
    /* ancho de <div class="carrusel-texto"> (de cada texto del carrusel) */
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 4));
        /* 200px * 4 <div class="carrusel-texto"> */
        transform: translateX(calc(-200px * 4));
    }
}

/* fin de carrusel */






/* 6) section 1 | contiene la imagen principal, un los h1(titulo), h2(subtitulos), a (enlaces a registrarse) */
.seccion2-ofertas {
    height: 500px;
    width: 100%;
    background-image:
        linear-gradient(to right top, #0000008a, #0000008a),
        url(/img/seccion\ 1\ \ .jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--texto-blanco);
}

h1 {
    padding-top: 90px;
    /* margen interno superior */
    font-size: 4rem !important;
    /* por defecto 1rem=16px */
}

h2 {
    padding: 5px 0 20px 0;
    /* margen interno superior */
    font-size: 2rem !important;
    /* por defecto 1rem=16px */
}

.seccion2-btn-ver-mas {
    text-decoration: none;
    /* quita la decoracion al enlace */
    background-color: var(--color-primario2);
    color: var(--color-borde);
    text-align: center;
    padding: 15px;
    /* margen interno */
    border-radius: 10px;
    margin-top: 30px;
}

/*   Inicio Buscador  */


.form-busqueda {
     color: var(--texto-violeta);
     height: 50vh;
     text-align: center;
     padding: 15px;
 }
 
 .busqueda > h2 + form {
     padding-top: 3vh;
   }
/*   FIN  Buscador */
 
   hr {
     margin: 0 auto; 
     margin-top: 15vh ;
     width: 75vw;
     border: 1px solid var(--violeta);
    }
 

/*   Inicio elemento fijo  */

.elemento_fijo {
    position: fixed;
    bottom:6vh;
    right:6vw;
    color:var(--violeta);
   }

   /*   FIN  Elemento fijo  */

/*   Inicio Catalogo de productos  */
.lista_de_categorias{
    background-color: var(--color-primario);
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.categorias{
    padding: 15px;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 8px 10px 8px;
    border-top-right-radius: 1% var(--violeta);
}

/*   FIN Catalogo de productos  */

/* *********************************************************************************** */
/* MEDIAS QUERYS */
/* Media query para teléfonos móviles SM XS */
@media only screen and (max-width: 767px) {



    /* RESPONSIVE celu: FOOTER */
    .footer-columnas {
        display: block;
        /* propiedad necesaria para posicionar sobre un eje horizontal los hijos mas directos */
        flex-direction: column;
        /* posiciona en un eje horizontal a los hijos */
        justify-content: space-between;
        align-items: center;
    }

    .columna {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .columna-redes {
        margin: 10% 0 0 10%;
    }

    .columna-mapa {
        margin: 15px 0 0 10%;
    }
}

/* Media query para tabletas MD */
@media only screen and (max-width: 1023px) and (min-width: 768px) {


    /* RESPONSIVE tabletas: FOOTER */
    .columna {
        width: 20%;
    }

    .columna-redes {
        margin: 10% 0 0 0;
    }

    .columna-mapa {
        margin: 15px 0 0 0;
    }
}

/* Media query para dispositivos de escritorio LG */
@media only screen and (min-width: 1024px) {

    /* RESPONSIVE escritorio: FOOTER */
    .columna {
        width: 20%;
    }

    .columna-redes {
        margin: 10% 0 0 0;
    }

    .columna-mapa {
        margin: 15px 0 0 0;
    }
}

/* *********************************************************************************** */



/* ********************************************************************** */
/*   INICIO de footer  */

footer {
    width: 100%;
    margin-top: 350px;
    /* se modificará mientras se complete las demás secciones  */
    margin-bottom: 0;
    padding: 25px 0 30px 0;
    background-color: var(--color-primario);
    border: var(--color-borde) solid 5px;
    /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
    box-shadow: inset 0px 0px 20px var(--color-borde),
        /* difuminado interno */
        0px 0px 20px var(--color-borde);
    /* difuminado externo */
}

.footer-columnas {
    display: flex;
    flex-wrap: wrap;
    /*     */
}

.columna {
    margin-left: 5%;
    cursor: pointer;
}

.columna-redes {
    height: 60px;
    width: 80%;
    display: flex;
    /* propiedad necesaria para posicionar sobre un eje horizontal los hijos mas directos */
    flex-direction: row;
    /* posiciona en un eje horizontal a los hijos */
    justify-content: space-between;
}

.columna-mapa {
    height: 140px;
    width: 100%;
    background-image: url(/img/mapa-obelo.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    /* centra la img del mapa */
}

footer .fenlaces {
    color: var(--texto-blanco) !important;
    /* esta orden, me parece que estaba tapada por el código bootstrap, asique le puse un !important */
    line-height: 32px;
    /* espacio entre líneas fijo en px */
    text-decoration: none;
    /* quita la decoracion a los enlaces */
    opacity: 0.5;
}

h3 {
    font-size: 20px !important;
    color: var(--texto-blanco) !important;
    /* esta orden, me parece que estaba tapada por el código bootstrap, asique le puse un !important */
    padding-bottom: 3px;
    border-bottom: var(--color-borde) solid 2px;
    line-height: 32px;
    /* espacio entre líneas fijo en px */
    display: inline-block;
}


.footer-enlaces .fenlaces:hover {
    opacity: 1;
    font-weight: bold;
    /* negrita */
    text-decoration: none;

}
#footer-enlaces-1 {
    height: 220px;
margin-top: 58px !important;
}

.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;
}

/*  ********************************************************************** */
/*  FIN de footer  */
